@model Inventorizer_Models.Models.Item

@{
    var title = "Create Item Details";
}
<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Item_Id" />
        <input type="hidden" asp-for="ItemDetail.ItemDetail_Id" />
        @if (Model.ItemDetail != null && Model.Item_Id != 0 && Model.ItemDetail.ItemDetail_Id != 0)
        {
            title = "Edit Item Details";
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" disabled class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ItemDetail.Type"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ItemDetail.Type" class="form-control" />
                    <span asp-validation-for="ItemDetail.Type" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ItemDetail.Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ItemDetail.Description" class="form-control" />
                    <span asp-validation-for="ItemDetail.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4 offset-4">
                    @if (Model.ItemDetail != null && Model.Item_Id != 0 && Model.ItemDetail.ItemDetail_Id != 0)
                    {
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary form-control">Add</button>
                    }
                </div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}