@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>
        <b>Inventorizer</b> keeps track of stuff you got in your house. <br /><br />

        It factors in purchase price for each item you insert and compares it to current market price on <b>ebay.de</b>,<br /> so you can see how your things depreciate/appreciate over time and for how much you can flip them.
    </p>
    <br />
    <p>
        Create a category and starting adding your items :)
    </p>
</div>
